@import url('https://fonts.googleapis.com/css?family=Epilogue:regular,700,800,900');
@import url("reset.css");



.wrapper {
   min-height: 100%;
   overflow: clip;
   display: flex;
   flex-direction: column;
   font-family: 'Epilogue', sans-serif;
   font-weight: 400;
   font-size: 16px;
   color: rgba(255, 255, 255, 0.64);
   background-color: #28293E;
}

.wrapper>main {
   flex-grow: 1;
}

[class*="__container"] {
   max-width: 1200px;
   margin-inline: auto;
   padding-inline: 15px;
}



h1 {
   font-size: 50px;
   font-weight: 400;
   text-align: center;
   padding: 20px;
   background-color: #fff;
   text-shadow: 5px 5px 3px #5c4d4d;
   border-block: 2px solid #5c4d4d;
   box-shadow: inset 0px 0px 25px 5px rgb(136, 128, 82);
}

h1:hover {
   text-shadow: 15px 15px 8px #121212;
   box-shadow: inset 0px 0px 25px 15px rgb(18, 18, 18);
   transition: 2s;
}

.mini {
   display: none;
}

.grid__portfolio,
.page__flex {
   padding-block: 30px;
}

.label {
   line-height: 2;
   /* 200% */
   letter-spacing: 3px;
   text-transform: uppercase;
   color: #EF6D58;
   text-align: center;
}

.label:not(:last-child) {
   margin-bottom: 20px;
}

.title {
   font-size: 56px;
   font-weight: 800;
   line-height: 64px;
   /* 114.286% */
   letter-spacing: -1px;
   text-align: center;
   color: #fff;
}

.title:not(:last-child) {
   margin-bottom: 44px;
}

.light-portfolio__tabs,
.portfolio__tabs {
   display: flex;
   justify-content: center;
   gap: 20px 60px;
   flex-wrap: wrap;
}

.light-portfolio__tab--active,
.portfolio__tab--active {
   color: #fff;
}

.light-portfolio__tab sup,
.portfolio__tab sup {
   transform: translateY(-9px);
   display: inline-block;
}

.light-portfolio__tabs:not(:last-child),
.portfolio__tabs:not(:last-child) {
   margin-bottom: 68px;
}

.portfolio__button {
   border-radius: 6px;
   border: 1px solid rgba(255, 255, 255, 0.30);
   color: #FFF;
   font-size: 14px;
   font-weight: 900;
   line-height: normal;
   text-transform: uppercase;
   padding: 18px 30px 16px 31px;
   display: block;
   margin: 0 auto;
   width: fit-content;
   position: relative;
   transform-origin: right;
   transition: 0.4s;
}

.portfolio__button::before {
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   outline: 2px solid #EF6D58;
   border-radius: 6px;
   transform-origin: center;
   transition: 0.4s;
   transform: scaleX(0);
}

@media (any-hover: hover) {
   .portfolio__button:hover {
      color: #EF6D58;
   }

   .portfolio__button:hover::before {
      transform: scaleX(1);
   }

   .card:hover::before {
      transform: scale(0);
      border-radius: 50%;
      opacity: 0;
      transition: 0.5s;
   }

   .light-portfolio__slider-tab:hover {
      outline: 1px solid #391400;
   }
}

.portfolio__cards:not(:last-child) {
   margin-bottom: 64px;
}

.card {
   position: relative;
   padding: 51px 48px;
   display: flex;
   align-items: flex-end;
   border-radius: 8px;
   overflow: hidden;
   min-height: 416px;
   width: 100%;
}

.card__image {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   border-radius: 8px;
   object-fit: cover;
   transition: transform 0.5s;
}

.card__block {
   position: absolute;
   z-index: 2;
}

.card__sub-title {
   font-size: 40px;
   font-weight: 800;
   line-height: 1.2;
   /* 120% */
   color: #FFF;
}

.card__category {
   border-radius: 19px;
   background-color: #FFF;
   line-height: 2;
   color: #391400;
   padding: 5px 16px 1px 16px;
   width: fit-content;
}

.card__category:not(:last-child) {
   margin-bottom: 23px;
}

.card::before {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   z-index: 1;
   width: 100%;
   height: 100%;
   opacity: 0.3181;
   border-radius: 8px;
   transition: transform 0.5s;
   background-color: #5c2000;
}

.portfolio__cards--flex {
   display: flex;
   flex-wrap: wrap;
   gap: 30px;
   justify-content: space-between;
}

.card--flex {
   flex: 1 0 39.662447%;
   /* 470/1185 */
}

.card--flex:nth-child(4n + 2),
.card--flex:nth-child(4n + 3) {
   flex: 1 0 56.540084%;
   /* 670/1185 */
}



.portfolio__cards--grid {
   display: grid;
   grid-template-columns: 1fr 16.666667% 1fr;
   /* 200/1200 */
   grid-auto-rows: 416px;
   gap: 30px;
}

.card--grid:nth-child(4n + 2),
.card--grid:nth-child(4n + 3) {
   grid-column: span 2;
}

.light-portfolio__cards:not(:last-child) {
   margin-bottom: 80px;
}

.light-portfolio__cards {
   display: grid;
   gap: 30px;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 720px;
   grid-auto-rows: 416px;
}

.light-portfolio__card:nth-child(1) {
   grid-column: span 2;
}


.grid__portfolio-light {
   background-color: #FDF0E9;
   padding-block: 76px 112px;
}

.light-portfolio__slider-tabs {
   display: flex;
   gap: 8px;
   justify-content: center;
}

.light-portfolio__slider-tab {
   display: flex;
   justify-content: center;
   align-items: center;
   color: #391400;
   font-size: 14px;
   font-weight: 900;
   text-transform: uppercase;
   width: 48px;
   aspect-ratio: 1;
   border-radius: 6px;
   background: #FFF;
   box-shadow: 0px 3px 9px 0px rgba(57, 20, 0, 0.08);
   outline: 1px solid transparent;
   transition: 0.4s;
}

.light-portfolio__slider-tab--activ {
   background-color: #EF6D58;
   color: #FFFFFF;
}

.light-portfolio__tabs {
   color: rgba(57, 20, 0, 0.64);
}

.light-portfolio__tab--active {
   color: #391400;
}

@media (max-width: 845.98px) {

   .card--flex,
   .card--flex:nth-child(4n + 2),
   .card--flex:nth-child(4n + 3) {
      flex: 1 0 47.5%;
      /* 570/1200 */
   }
}

@media (max-width: 767.98px) {

   .portfolio__cards--grid {
      grid-template-columns: 1fr 1fr;
   }

   .card--grid:nth-child(4n + 2),
   .card--grid:nth-child(4n + 3) {
      grid-column: span 1;
   }

   .light-portfolio__tabs,
   .portfolio__tabs {
      display: none;
   }

   .mini {
      display: block;
   }

   .mini__block {
      width: 100%;
      padding: 9px 5px 6px 16px;
      border-radius: 6px;
      background: #FFF;
      font-size: 16px;
      color: rgba(57, 20, 0, 0.64);
      font-weight: 400;
      line-height: 2
   }

   .light-portfolio__mini:not(:last-child),
   .portfolio__mini:not(:last-child) {
      margin-bottom: 48px;
   }

   .light-portfolio__cards:not(:last-child) {
      margin-bottom: 48px;
   }
}

@media (max-width: 600px) {
   .portfolio__cards--flex {
      flex-direction: column;
      max-height: 1308px;
   }

   .portfolio__cards--grid {
      grid-template-columns: 1fr;
   }

   .light-portfolio__cards {
      grid-template-columns: 1fr;
      grid-template-rows: 416px;
      grid-auto-rows: 416px;
   }

   .light-portfolio__card,
   .light-portfolio__card:nth-child(1) {
      grid-column: span 1;
   }
}

@media (max-width: 300px) {
   .light-portfolio__slider-tab {
      width: 16%;
      /* 48/300 */
   }
}

.footer {
   color: #000;
   text-align: center;
   padding: 20px;
   background-color: #fff;
}