*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: none;

  box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  display: inline-block;
  color: inherit;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

html,
body {
  line-height: 1;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

/* discuss */
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
}

input,
textarea {
  width: 100%;
}

button,
select,
option {
  cursor: pointer;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  appearance: none;
}



body {
  padding: 1.25rem;
}

h1 {
  font-size: 1.5625rem;
  text-align: center;
  font-weight: 900;
  padding-block: 1.25rem;
}

h2 {
  font-size: 1.25rem;
  text-align: center;
  font-weight: 700;
  /* padding-block: 1.25rem; */
}
h3 {
  font-size: 1rem;
  text-align: center;
  font-weight: 600;
}

p {
  text-align: center;
  padding-block: 1.25rem;
}

table {
  border: 0.0625rem solid black;
  margin: 0 auto;
}

td {
  padding: 0.625rem;
  border: 0.0625rem solid black;
}

hr {
  background-color: black;
  height: 0.0625rem;
  width: 100%;
}

.container{
  display: flex;
  gap: 0.625rem;
  justify-content: space-between;
  padding: 1.25rem;
}
.stage {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  border: 0.0625rem, solid, black;
  padding: 0.625rem;

}
@media (max-width: 479.98px) {
  .container{
    flex-direction: column;
  }
}
.block__button {
  display: flex;
  gap: 1.25rem;
  padding: 1.25rem;
  flex-wrap: wrap;
}
.block__button-button {
  border: 0.0625rem solid black; 
  padding: 0.3125rem; 
  background-color: rgb(180, 174, 174);
}
