*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: none;

  box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  display: inline-block;
  color: inherit;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

html,
body {
  line-height: 1;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

/* discuss */
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
}

input,
textarea {
  width: 100%;
}

button,
select,
option {
  cursor: pointer;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  appearance: none;
}



body {
  padding: 1.25rem;
}

h1 {
  font-size: 1.5625rem;
  text-align: center;
  padding-block: 1.25rem;
}

h2 {
  font-size: 1.25rem;
  text-align: center;
  padding-block: 1.25rem;
}

p {
  text-align: center;
  padding-block: 1.25rem;
}

table {
  border: 0.0625rem solid black;
  margin: 0 auto;
}

td {
  padding: 0.625rem;
  border: 0.0625rem solid black;
}

hr {
  background-color: black;
  height: 0.0625rem;
  width: 100%;
}

.product {
  display: flex;
  flex-direction: column;
  gap: 0.3125rem;
  width: fit-content;
  margin: 0 auto;
}

.product-input {
  max-width: 12.5rem;
  border: 0.0625rem solid black;
  border-radius: 0.1875rem;
}

.product-item {
  display: inline-flex;
}

.product-item label {
  width: 100%;
  padding-right: 0.3125rem;
}

.link {
  border: 0.0625rem solid black;
  border-radius: 0.1875rem;
  padding: 0.3125rem;
}

.link:not(:last-child) {
  margin-bottom: 0.3125rem;
}

.prize {
  max-width: 9.375rem;
  max-height: 9.375rem;
}

h3 {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  padding-block: 20px;
}